@model Caltec.StudentInfoProject.Domain.Degree

<div class="form-group">
    <label for="degree-name" class="control-label">Name</label>
    <input id="degree-name" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="degree-nb-year" class="control-label">NbYear</label>
    <input id="degree-nb-year" asp-for="NbYear" class="form-control" />
    <span asp-validation-for="NbYear" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="degree-fees-per-year" class="control-label">FeesPerYearPerStudent</label>
    <input id="degree-fees-per-year" asp-for="FeesPerYearPerStudent" class="form-control" />
    <span asp-validation-for="FeesPerYearPerStudent" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="degree-nb-payment" class="control-label">NbPayment</label>
    <input id="degree-nb-payment" asp-for="NbPayment" class="form-control" />
    <span asp-validation-for="NbPayment" class="text-danger"></span>
</div>
