@model Caltec.StudentInfoProject.Business.Dto.SchoolFeesDto
@{
    var paymentMethods = (IEnumerable<string>?)ViewData["PaymentMethodsList"] ?? Enumerable.Empty<string>();
    var paymentStatuses = (IEnumerable<string>?)ViewData["PaymentStatusList"] ?? Enumerable.Empty<string>();
    var studentClasses = (IEnumerable<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>?)ViewData["StudentClasses"] ?? Enumerable.Empty<Microsoft.AspNetCore.Mvc.Rendering.SelectListItem>();
}

<div class="form-group">
    <label for="school-fees-amount" class="control-label">Amount</label>
    <input id="school-fees-amount" asp-for="Amount" class="form-control" />
    <span asp-validation-for="Amount" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="school-fees-payment-date" class="control-label">PaymentDate</label>
    <input id="school-fees-payment-date" asp-for="PaymentDate" class="form-control" />
    <span asp-validation-for="PaymentDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="school-fees-payment-method" class="control-label">PaymentMethod</label>
    <select id="school-fees-payment-method" class="form-control" asp-for="PaymentMethod" asp-items="@(new SelectList(paymentMethods))">
        <option value="">--Select--</option>
    </select>
    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="school-fees-payment-reference" class="control-label">PaymentReference</label>
    <input id="school-fees-payment-reference" asp-for="PaymentReference" class="form-control" />
    <span asp-validation-for="PaymentReference" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="school-fees-payment-status" class="control-label">PaymentStatus</label>
    <select id="school-fees-payment-status" class="form-control" asp-for="PaymentStatus" asp-items="@(new SelectList(paymentStatuses))">
        <option value="">--Select--</option>
    </select>
    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="school-fees-payment-note" class="control-label">PaymentNote</label>
    <input id="school-fees-payment-note" asp-for="PaymentNote" class="form-control" />
    <span asp-validation-for="PaymentNote" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="school-fees-class-id" class="control-label">ClassId</label>
    <select id="school-fees-class-id" class="form-control" asp-for="ClassId" asp-items="@(new SelectList(studentClasses, "Value", "Text"))">
        <option value="">--Select--</option>
    </select>
</div>
