@model Caltec.StudentInfoProject.Business.Dto.StudentDto

<div class="form-group">
    <label for="student-first-name" class="control-label">FirstName</label>
    <input id="student-first-name" asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-last-name" class="control-label">LastName</label>
    <input id="student-last-name" asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-email" class="control-label">Email</label>
    <input id="student-email" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-phone" class="control-label">Phone</label>
    <input id="student-phone" asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-address" class="control-label">Address</label>
    <input id="student-address" asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-city" class="control-label">City</label>
    <input id="student-city" asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-state" class="control-label">State</label>
    <input id="student-state" asp-for="State" class="form-control" />
    <span asp-validation-for="State" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-zip" class="control-label">Zip</label>
    <input id="student-zip" asp-for="Zip" class="form-control" />
    <span asp-validation-for="Zip" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="student-country" class="control-label">Country</label>
    <input id="student-country" asp-for="Country" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>
