@page
@model Caltec.StudentInfoProject.WebUi.Pages.Degrees.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Degree</h4>
    <hr />
    <partial name="~/Pages/Shared/_DegreeDetailsRows.cshtml" for="Degree" />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Degree?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
